@media (max-width: 576px) {
  .move-letter {
    width: 8rem;
  }
  .move-letter-text {
    font-size: 22px !important;
    line-height: normal !important;
  }

  /* mobile size */
}

@media (min-width: 576px) {
  .move-letter {
    width: 12rem;
  }
  /* non mobile size */
}

/* .move-group:hover {
  background-color: lightblue;
} */

.fill-height {
  min-height: 80vh;
}

.social-share:hover {
  opacity: 0.6;
}

.nav-link {
  text-decoration: none;
}
.nav-link:focus-visible {
  outline: none;
  border: #6fffb0 2px solid;
}

.nav-link:hover {
  text-decoration: underline;
  text-decoration-color: white;
}

.nav-link-current {
  text-decoration: underline;
  text-decoration-color: white;
  pointer-events: none;
}
