@media (max-width: 576px) {
  .move-letter {
    width: 5rem;
  }
  .move-text {
    font-size: 10px;
  }
  /* mobile size */
}

@media (min-width: 576px) {
  .move-letter {
    width: 10.5rem;
  }
  /* non mobile size */
}

.social-share:hover {
  opacity: 0.6;
}
