@media (max-width: 576px) {
  .move-letter {
    width: 5rem;
  }
  .move-text {
    font-size: 10px;
  }
  /* mobile size */
}

@media (min-width: 576px) {
  .move-letter {
    width: 10.5rem;
  }
  /* non mobile size */
}

.fill-height {
  min-height: 80vh;
}

.social-share:hover {
  opacity: 0.6;
}

.nav-link {
  text-decoration: none;
}
.nav-link:focus-visible {
  outline: none;
  border: #6fffb0 2px solid;
}

.nav-link:hover {
  text-decoration: underline;
  text-decoration-color: white;
}

.nav-link-current {
  text-decoration: underline;
  text-decoration-color: white;
  pointer-events: none;
}
